html , body {
    width: 100%;
    height: 100%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#admin{
    color: fuchsia;
    text-align: center;
    background: radial-gradient(circle, rgba(255,212,82,1) 13%, rgba(188,0,255,1) 46%, rgba(0,245,255,1) 81%);
}

#nazar{
    color: aqua;
}

#send{
    color: red;
    background-color: blueviolet;
}

#content{
    background-color: deeppink;
    color: yellow;
    float: right;
}

#p{
    text-align: center;
    font-size: larger;
    vertical-align: bottom;
}

#a{
    color: red;
}

body {
    background-color: #00ffc3;
    height: 100vh; /* این از آنجا که می‌خواهیم اسکرول بیشتری ایجاد کنیم استفاده می‌شود */
    overflow: hidden; /* این از آنجا که صفحه را به پایین می‌کشیم استفاده می‌شود */
}

.container {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* افکت کشیده شدن با زمان انتقال 0.3 ثانیه */
}
